@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

body {
  font-family: 'Playfair Display', serif;
}

.logo {
  font-family: 'Neucha', cursive;
  font-size: 150%;
  color: #ffffff;
}

.content-div {
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient
    (to right, rgba(112, 157, 255, 0.8) hsla(242, 74%, 61% 0.9)) !important;
}

.container {
  padding: 0.5rem;
}


/* Skills */

.services-list{
  row-gap: 2rem;
}
.services-item{
  color: white;
  padding: 2.4rem;
}
.services-item-img{
  margin-bottom: 0.8rem;
}
.services-item-img img{
  width: 80px;
}
.services-item-text .text{
  max-width: 460px;
  color: rgb(183, 183, 183);
}

@media screen and (min-width: 768px){
  .services-list{
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
  }
}


@media screen and (min-width: 992px){
  .services-list{
      grid-template-columns: repeat(3, 1fr);
  }
}




